.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-block: 10px;
    }

    &__logo {
        align-self: stretch; /* Растягивает кнопку по высоте родителя */
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex-grow: 1;
            justify-content: left;
        }
        
        
    }

    &__menu {
        

        &-list {
            display: flex;
            align-items: stretch;
            column-gap: 40px;
        }

        &-item {
            position: relative;
            align-self: stretch;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 38px;

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition-duration: var(--transition-duration);
            }
        }

        &-link {
            align-self: stretch;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__button {
        background-color: var(--color-bg-element-dark);
        padding: 10px 10px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &:hover img {
            filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(10deg);
        }    
    }

    &__icon {
        filter: invert(1);

    }
}
